.smallButton{
    width: 127px;
    height: 44px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin:12px;
    margin: 16px;
    font-weight: var(--regular-font-weight);
    font-size: 20px;
    text-align: center;
    border: none;
}
.purple{
    background-color: var(--btn-purple-window);
    color: black;
}
.black{
    background-color: black;
    color: white;
}